<a href="https://colab.research.google.com/github/atanaskadonkova/ml_project/blob/main/21_5_23_PandasHandson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Given a sample list, tuple and a set with elements as numbers from 1-10. Convert each of the data types into a pandas series. Create a separate list of index values for the series.

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
tup1 = (1,2,3,4,5,6,7,8,9,10)
set1 = {1,2,3,4,5,6,7,8,9,10}

In [ ]:
import pandas as pd

In [ ]:
series1 = pd.Series(list1, index = ['a','b','c','d','e','f','g','h','i','j'])
series1

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [ ]:
series2 = pd.Series(tup1, index = ['a','b','c','d','e','f','g','h','i','j'])
series2

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [ ]:
series1 = pd.Series(set1, index = ['a','b','c','d','e','f','g','h','i','j'])

TypeError: ignored

# 2. Create a python dictionary with three key value pairs. Keep the keys as the first names, and the respective last names as values in the dictionary. Use the dictionary to create a pandas series.

In [ ]:
dict1 = {'Sachin':'Tendulkar', 'MS':'Dhoni', 'Virat':'Kohli'}
pd.Series(dict1)

Sachin    Tendulkar
MS            Dhoni
Virat         Kohli
dtype: object

# 3. Create a pandas series, with the elements as numbers from 1-10. Use the index values starting from 0-10. For the above series:

a. Convert it to a list. 

b. Convert it to a dictionary. 

c. Convert it to a tuple. 

d. Convert it to a set.

In [ ]:
series3 = pd.Series(range(1,11))

In [ ]:
#a.
l1 = list(series3)
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#b.
d1 = dict(series3)
d1

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

In [ ]:
#c.
t1 = tuple(series3)
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
#d.
s1 = set(series3)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# 4. Create a sample pandas series with x integer elements. Perform the following operations on the same:

a. Print the first 5 elements of the series

b. Print the last 5 elements of the series

c. Insert an integer value ‘50’ at the index 5.

d. Update the last element in the series with the value 100.

e. Delete the first element from the series. 

Note: The index values must not be affected by the operations and should be uniform for the series after the last operation.

In [ ]:
series3 = pd.Series(range(1,11))

In [ ]:
# Printing the first five elements --> head()
series3.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# Printing the last five elements
series3.tail()

5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
# c. Insert an integer value ‘50’ at the index 5.

series3[5] = 50

In [ ]:
# d. Update the last element in the series with the value 100.
series3[9] = 100

In [ ]:
# e. Delete the first element from the series.

series3 = series3.drop(0)

In [ ]:
series3

1      2
2      3
3      4
4      5
5     50
6      7
7      8
8      9
9    100
dtype: int64

In [ ]:
series3 = series3.reset_index(drop = True)
series3

0      2
1      3
2      4
3      5
4     50
5      7
6      8
7      9
8    100
dtype: int64

# 5. For a given pandas series obtained in the 4th qn. Write a sample code to find the element 100 in the series.

In [ ]:
for i in series3:
    if i==100:
        print('100 is present')

100 is present

# 6. For the given series A and B, perform concatenation on the same. 

series_A = pd.Series([1,2,3,4,5])

series_B = pd.Series([6,7,8,9,10])

In [ ]:
series_A = pd.Series([1,2,3,4,5])
series_B = pd.Series([6,7,8,9,10])

In [ ]:
pd.concat([series_A,series_B])

0     1
1     2
2     3
3     4
4     5
0     6
1     7
2     8
3     9
4    10
dtype: int64

# 7. Using loops in python, print all the elements within a pandas series.

Sample = pd.Series([1,2,3,4,5,6,7,8,9,10])

In [ ]:
Sample = pd.Series([1,2,3,4,5,6,7,8,9,10])

In [ ]:
for i in Sample:
    print(i)

1
2
3
4
5
6
7
8
9
10

# 8. For a given nested list and a sample dictionary, create two data frames using pandas.

List = [['AA','BB','CC'], ['DD','EE','FF'], ['GG','HH','II']] 

Dictionary = { 'Kris': ['Jordan', 12,22],'Memphis': ['Depay', 23, 24]}

In [ ]:
List = [['AA','BB','CC'], ['DD','EE','FF'], ['GG','HH','II']]

Dictionary = { 'Kris': ['Jordan', 12,22],'Memphis': ['Depay', 23, 24]}

In [ ]:
df = pd.DataFrame(List)
df

    0   1   2
0  AA  BB  CC
1  DD  EE  FF
2  GG  HH  II

In [ ]:
df1 = pd.DataFrame(Dictionary)
df1

     Kris Memphis
0  Jordan   Depay
1      12      23
2      22      24

# 9. Create a pandas Dataframe with two columns = [‘Name’, ‘Age’]. Perform the following operations on the same.

a. Print the first 3 rows of the Data Frame .

b. Print the rows that have the age greater than 15.

c. Insert 5 imaginary names and ages as values to the pandas Data 
Frame .

d. Update the 5th row so that the name = john and age=56.

e. Delete the first row from the Data Frame .

In [ ]:
l1 = [['Akash',25],['Nick',23],['Joy', 12],['Pooja', 23]]

In [ ]:
df2 = pd.DataFrame(l1, columns = ['Name','Age'])
df2

    Name  Age
0  Akash   25
1   Nick   23
2    Joy   12
3  Pooja   23

In [ ]:
df2.head(3)

    Name  Age
0  Akash   25
1   Nick   23
2    Joy   12

In [ ]:
df2[df2.Age>15]

    Name  Age
0  Akash   25
1   Nick   23
3  Pooja   23

In [ ]:
df2.loc[4] = ['Priya', 21]
df2.loc[5] = ['Sam', 25]
df2.loc[6] = ['Vineet', 22]
df2.loc[7] = ['Stewart',17]
df2.loc[8] = ['Anu', 23]

In [ ]:
df2

      Name  Age
0    Akash   25
1     Nick   23
2      Joy   12
3    Pooja   23
4    Priya   21
5      Sam   25
6   Vineet   22
7  Stewart   17
8      Anu   23

In [ ]:
df2.loc[4] = ['John',56]
df2

      Name  Age
0    Akash   25
1     Nick   23
2      Joy   12
3    Pooja   23
4     John   56
5      Sam   25
6   Vineet   22
7  Stewart   17
8      Anu   23

In [ ]:
df2 = df2.drop(0)
df2 = df2.reset_index(drop = True)
df2

      Name  Age
0     Nick   23
1      Joy   12
2    Pooja   23
3     John   56
4      Sam   25
5   Vineet   22
6  Stewart   17
7      Anu   23

# 10. For the Data Frame obtained from step 9, convert the same to a list and a dictionary respectively.

In [ ]:
l2 = list(df2.values)

In [ ]:
l2

[array(['Nick', 23], dtype=object),
 array(['Joy', 12], dtype=object),
 array(['Pooja', 23], dtype=object),
 array(['John', 56], dtype=object),
 array(['Sam', 25], dtype=object),
 array(['Vineet', 22], dtype=object),
 array(['Stewart', 17], dtype=object),
 array(['Anu', 23], dtype=object)]

In [ ]:
d2 = dict(df2.values)
d2

{'Nick': 23,
 'Joy': 12,
 'Pooja': 23,
 'John': 56,
 'Sam': 25,
 'Vineet': 22,
 'Stewart': 17,
 'Anu': 23}

# 11. Create two separate Data Frame s A and B, and perform the following operations on them.

a. Concatenate the two Data Frame s to a new Data Frame C.

b. Split the Data Frame C row wise.

c. Split the Data Frame column wise based on a condition. For example - 
columns values greater than 10, column values less than 10, etc

In [ ]:
A = pd.DataFrame([1,2,3,4,5])
B = pd.DataFrame([11,12,13,14,15])

In [ ]:
C = pd.concat([A,B], ignore_index = True)
C

    0
0   1
1   2
2   3
3   4
4   5
5  11
6  12
7  13
8  14
9  15

In [ ]:
df5 = C.iloc[:5,:]
df5

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
g_10 = C[C[0]>10]
g_10

    0
5  11
6  12
7  13
8  14
9  15

In [ ]:
l_10 = C[C[0]<10]
l_10

   0
0  1
1  2
2  3
3  4
4  5

# 12. Create a Data Frame with columns Name and Age. Perform the following operations.

a. Write a sample code to search for the Name/Names where Age is 20.

b. Sort the Data Frame in ascending order of ages.

c. Using Python loops, print the ages from the data frame and store it in a set.

In [ ]:
l1 = [['Akash',25],['Nick',23],['Joy', 12],['Pooja', 20]]

In [ ]:
df = pd.DataFrame(l1, columns = ['Name','Age'])
df

    Name  Age
0  Akash   25
1   Nick   23
2    Joy   12
3  Pooja   20

In [ ]:
df[df['Age']==20]

    Name  Age
3  Pooja   20

In [ ]:
df.sort_values(by = 'Age')

    Name  Age
2    Joy   12
3  Pooja   20
1   Nick   23
0  Akash   25

In [ ]:
l = []
for i in range(len(df)):
    print(df.loc[i,'Age'])
    l.append(df.loc[i,'Age'])

25
23
12
20

In [ ]:
se1 = set(l)

In [ ]:
se1

{12, 20, 23, 25}